{
    "IsEncrypted": false,
    "Values": {
        "FUNCTIONS_WORKER_RUNTIME": "python",
        "AzureWebJobsStorage": "",
        "JiraBaseUrl": "https://xxx.atlassian.net/rest/agile/1.0",
        "JiraToken": "SomeJiraCloudToken"
    }
}
